/* Common CSS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&family=Work+Sans:wght@400;600;700;800&display=swap');


* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    position: relative;
}

section {
    padding: 50px 100px;
}

.main-title {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

.section-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin: 15px 0;
    padding-left:0px;
    text-align: justify;
}

.btn-primary {
    background-color: #FF900E;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border: 0;
    margin: 15px 0;
    cursor: pointer;
}

/* Start Header Nav */
header{
    background-color: #ff8f0e42;
}
header .logo{
    font-size: 3rem;
    color: #ffffff;
}
.logo a{
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
    background-color: #e27a04a1;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.137);
}

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
    margin-left: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 500;
    font-weight: 600;
}
nav ul li a:hover{
    color: #f3f3f3;
}
/* Banner Start */
.banner-container {
    padding: 130px 100px;
}

.banner-content {
    text-align: center;
    width: 80%;
}

.banner-content h1 {
    font-size: 4rem;
}

.banner-image img {
    width: 100%;
}

/* Team SEction */
.team-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 50%;
}

.team-image img {
    width: 100%;
}

.team-content {
    width: 50%;
    margin-left: 30px;
}

.team-content .quick {
    color: #727272;
    font-size: 3rem;
    font-weight: 500;
}

.team-content .text-orange {
    color: #FF900E;
}

/* Service Section */
.service-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.left-service{
    width: 50%;
}
.box{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 20px;
    margin: 20px;
}
.right-service {
    width: 40%;
}
.left-service > .main-title{
    border-left: 5px solid #FF900E;
    padding-left: 30px;
}
.right-service img{
    width: 100%;
}
.service-batch{
    background-color: #FF900E;
    padding: 45px 40px;
    width: 400px;
    border-radius: 8px;
    position: relative;
    margin-left: -50px;
    margin-top: -100px;
    box-shadow: 0px 4px 20px rgba(54, 54, 54, 0.342);
}
.service-batch h1{
    font-size: 4rem;
    font-weight: 700;
}
.service-batch h1, .service-batch p{
    color: #fff;
    text-align: center;
}
.service-batch p{
    font-size: 1.5rem;
}

/*  Facts Section */
.card-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 50px 40px;
    text-align: center;
    margin-top: 100px;
    height: 300px;
    width: 230px;
    background-color: white;
    box-shadow: 4px 4px 10px rgba(128, 128, 128, 0.253);

}
.card .stars{
    color: #424242;
    font-size: 3rem;
    font-weight: 700;
    margin: 10px 0;
}
.card > .title{
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
}
/* Sponsor Section */
.Sponsor-section{
    text-align: center;
}
.sponsor-image{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.sponsor-image img{
    margin-top: 50px;
}

/* Footer Section */

.footer-main{
    background-color: #FF900E;
    padding: 0 100px;

}
.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 300px;
}
.footer-top .section-description{
    width: 300px;
    color: rgb(236, 236, 236);
}
.footer-top .section-sub-title{
    font-size: 1.5rem;
    margin-bottom: 40px;
}
.footer-top ul{
    list-style-type: none;
    margin: 20px 0px;
}
.footer-top ul li{
    margin: 10px;
}
.footer-top ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight:400;
}
.footer-top form input{
    display: block;
    margin: 20px 0;
    padding: 10px;
    border: 0;
    border-radius: 30px;    
}
.footer-top form input[type="submit"]{
    width: 100%;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #fff;
    color: #e27b04;
    font-weight: 600;

}
.copyright{
    text-align: center;
    background-color: #e27b04;
}
.copyright p{
    color: #fff;
    padding: 10px;
}
.copyright p a{
    color: #fff;
    text-decoration: none;
}


/* SMALL DEIVCE RESPONSIVE */
@media screen and (max-width:576px){
    .team-image{
        grid-template-columns: 1fr;
    }
    .btn-primary{
        font-size: 1rem;
    }    
    .main-title > .quick{
        font-size: 1.5rem;
    }
    nav,
    .banner-container,
    .team-container,
    .card-container,
    .service-container,
    .sponsor-image, 
    .footer-top
    {
        flex-direction: column;
    }
    .team-container{
        flex-direction: column-reverse;
    }
    nav .menus ul li{
        margin: 5px;
    }
    .service-batch
    {
        display: none;
    }
    section{
        padding: 50px 10px;
    }
    .banner-container,
    .footer-main,
    .box
    {
        padding: 10px;
    }
    .banner-container{
        padding-top: 150px;
    }
    .card, .box{
        margin: 10px 0px;
    }
    .banner-content>.main-title, .main-title, .logo h1{
        font-size: 1.5rem;
    }
    .banner-image,
    .team-image,
    .left-service,
    .right-service,
    .team-content{
        width: 90%;
    }
    .sponsor-image img{
        width: 100px;
        margin-top: 10px;
    }
    .sponsor-image{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-top{
        height: 600px;
    }
}

/* TABLET RESPONSIVE */
@media screen and (min-width: 577px) and (max-width: 768px){
    .team-content .quick, .main-title{
        font-size: 2rem;
    }
    .btn-primary{
        font-size: 1rem;
    }
    .service-container{
        flex-direction: column;
    }
    .left-service{
        width: 100%;
    }
    .right-service{
        width: 400px;
    }
    .service-batch{        
        padding: 20px 0px;    
        border-radius: 8px;
        position: relative;
        margin-left: -50px;
        margin-top: -50px;
        width: 250px;
    }
    .service-batch h1{
        font-size: 2rem;
    }
    .card-container{
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .sponsor-image{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-wrap: wrap;
    }
    .footer-top .logo{
        width: 30%;
    }
    .footer-top .logo p{
        width: 100%;
        text-align: left;
    }
    .footer-top .main-title{
        font-size: 1.5rem;
    }
}